aiohttp==3.8.1
aiohttp-retry==2.4.6
aiosignal==1.2.0
alembic==1.7.5
anyio==3.5.0
apache-airflow==2.2.3
apache-airflow-providers-ftp==2.0.1
apache-airflow-providers-http==2.0.2
apache-airflow-providers-imap==2.1.0
apache-airflow-providers-sqlite==2.0.1
apispec==3.3.2
appdirs==1.4.4
argcomplete==1.12.3
asttokens==2.0.5
async-timeout==4.0.2
asyncssh==2.8.1
atpublic==3.0.1
attrs==20.3.0
autopep8==1.6.0
azure-core==1.22.1
azure-identity==1.7.1
azure-storage-blob==12.9.0
Babel==2.9.1
backcall==0.2.0
blinker==1.4
cattrs==1.5.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
clickclick==20.10.2
cloudpickle==2.0.0
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
configobj==5.0.6
croniter==1.0.15
cryptography==36.0.1
cycler==0.11.0
databricks-cli==0.16.4
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
dill==0.3.4
diskcache==5.4.0
distro==1.7.0
dnspython==2.2.0
docker==5.0.3
docutils==0.16
dpath==2.0.6
dulwich==0.20.34
dvc==2.9.5
email-validator==1.1.3
entrypoints==0.4
executing==0.8.3
Flask==1.1.4
Flask-AppBuilder==3.4.3
Flask-Babel==2.0.0
Flask-Caching==1.10.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
flatten-dict==0.4.2
flufl.lock==7.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.2.0
ftfy==6.1.1
funcy==1.17
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
grandalf==0.6
graphviz==0.19.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.7
httpx==0.19.0
idna==3.3
importlib-metadata==4.10.1
importlib-resources==5.4.0
inflection==0.5.1
ipykernel==6.9.1
ipython==8.1.0
iso8601==1.0.2
isodate==0.6.1
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.2
kiwisolver==1.3.2
lazy-object-proxy==1.7.1
lockfile==0.12.2
mailchecker==4.1.14
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mlflow==1.23.1
msal==1.17.0
msal-extensions==0.3.1
msrest==0.6.21
multidict==6.0.2
nanotime==0.5.2
nest-asyncio==1.5.4
networkx==2.7.1
numpy==1.22.2
oauthlib==3.2.0
openapi-schema-validator==0.1.6
openapi-spec-validator==0.3.2
packaging==21.3
pandas==1.4.1
parso==0.8.3
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
phonenumbers==8.12.45
pickleshare==0.7.5
Pillow==9.0.1
ply==3.11
portalocker==2.4.0
prison==0.2.1
prometheus-client==0.13.1
prometheus-flask-exporter==0.18.7
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydot==1.4.2
pygit2==1.9.0
Pygments==2.11.2
pygtrie==2.4.2
PyJWT==1.7.1
pyparsing==3.0.7
pyrsistent==0.16.1
python-benedict==0.25.0
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-fsutil==0.6.0
python-nvd3==0.15.0
python-slugify==6.1.1
python3-openid==3.2.0
pytz==2021.3
pytzdata==2020.1
PyYAML==6.0
pyzmq==22.3.0
querystring-parser==1.2.4
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==11.0.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.8.0
scmrepo==0.0.7
seaborn==0.11.2
setproctitle==1.2.2
shortuuid==1.0.8
shtab==1.5.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
SQLAlchemy==1.4.31
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.4.2
stack-data==0.2.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.63.0
traitlets==5.1.1
typing-extensions==4.1.1
unicodecsv==0.14.1
urllib3==1.26.8
voluptuous==0.12.2
wcwidth==0.2.5
websocket-client==1.3.1
Werkzeug==1.0.1
WTForms==2.3.3
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.7.0
